In [1]:
# take the third row divided by the first minus the second, expressed as a percent

In [36]:
import pandas as pd

In [37]:
lipids = pd.read_csv("lipid_droplets.csv")

In [64]:
i = 0
calc_val = 0
file_names = []
total_sums = []
calc_vals = []
while (i < len(lipids)):
    calc_val = abs(lipids.iloc[i]['Total_Sum'] - lipids.iloc[i+1]['Total_Sum'])
    calc_val = lipids.iloc[i+2]['Total_Sum'] / calc_val
    calc_vals.append(calc_val)
    calc_vals.append('')
    calc_vals.append('')
    i += 3
    
calc_vals

[7.0, '', '', 11.0, '', '', 9.0, '', '', 5.0, '', '', 6.0, '', '']

In [65]:
calculated_df = pd.DataFrame({'File_Name' : lipids['File_Name'].tolist(), 
                   'Total_Sum' : lipids['Total_Sum'].tolist(), 
                   'As Percentage' : calc_vals})

In [66]:
calculated_df

   As Percentage  File_Name  Total_Sum
0              7          1         10
1                         1         12
2                         1         14
3             11          2          9
4                         2         10
5                         2         11
6              9          3          7
7                         3          8
8                         3          9
9              5          4          3
10                        4          4
11                        4          5
12             6          5          4
13                        5          5
14                        5          6