### Notes for Python Day 1
* Calculations
* Variables and assignment
* Lists
* Loops
* Conditionls
* Methods (covered in Day 2 notebook)

**Using Python and Jupyter Notebook as a Calculator**

In [100]:
print("hello")

hello

In [101]:
7 * (3 + 2)

35

**creating and assigning a value to a variable**

In [102]:
age = 50

In [103]:
print(age)

50

In [104]:
age

50

In [105]:
name = "Ahmed"

In [106]:
print(name)

Ahmed

In [107]:
print(age)

50

Writing the name of a variable as the last line of a cell will cause jupyter to print the value.  To print multiple values in a cell, use the print function.

In [108]:
name

'Ahmed'

In [109]:
print(age)
print(name)

50
Ahmed

Variables have types.  Age is an integer, name is a string (a series of characters joined together in a string)

In [110]:
type(age)

int

In [111]:
type(name)

str

In [112]:
whos

Variable         Type     Data/Info
-----------------------------------
a                int      2
age              int      50
b                int      1
c                int      1
element          str      helium
i                int      4
int_str          str      10
mass             float    1.71
masses           list     n=5
max_val          float    0.277
name             str      Ahmed
new_age          int      50
p                float    0.276
pressure_range   float    0.0040000000000000036
pressures        list     n=5
pressures_1      float    0.273
pressures_2      float    0.275
value            int      100
xya123fr         str      hello
years_passed     int      10

In [113]:
years_passed = 10

In [114]:
whos

Variable         Type     Data/Info
-----------------------------------
a                int      2
age              int      50
b                int      1
c                int      1
element          str      helium
i                int      4
int_str          str      10
mass             float    1.71
masses           list     n=5
max_val          float    0.277
name             str      Ahmed
new_age          int      50
p                float    0.276
pressure_range   float    0.0040000000000000036
pressures        list     n=5
pressures_1      float    0.273
pressures_2      float    0.275
value            int      100
xya123fr         str      hello
years_passed     int      10

In [115]:
age = 40

In [116]:
whos

Variable         Type     Data/Info
-----------------------------------
a                int      2
age              int      40
b                int      1
c                int      1
element          str      helium
i                int      4
int_str          str      10
mass             float    1.71
masses           list     n=5
max_val          float    0.277
name             str      Ahmed
new_age          int      50
p                float    0.276
pressure_range   float    0.0040000000000000036
pressures        list     n=5
pressures_1      float    0.273
pressures_2      float    0.275
value            int      100
xya123fr         str      hello
years_passed     int      10

In [117]:
print(age + years_passed)

50

Create a variable from two existing variables

In [118]:
new_age = age + years_passed

In [119]:
whos

Variable         Type     Data/Info
-----------------------------------
a                int      2
age              int      40
b                int      1
c                int      1
element          str      helium
i                int      4
int_str          str      10
mass             float    1.71
masses           list     n=5
max_val          float    0.277
name             str      Ahmed
new_age          int      50
p                float    0.276
pressure_range   float    0.0040000000000000036
pressures        list     n=5
pressures_1      float    0.273
pressures_2      float    0.275
value            int      100
xya123fr         str      hello
years_passed     int      10

Some operations won't work for variables of different types.  For example, you can't add a string and an integer with the '+' operator.

In [120]:
print(age + name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [121]:
print(name + " is " + age + "years old")

TypeError: Can't convert 'int' object to str implicitly

But you can convert ("cast") a variable to a different type

In [122]:
print(name + " is " + str(age) + " years old")

Ahmed is 40 years old

In [123]:
int_str = "10"

In [124]:
type(int_str)

str

In [125]:
age + int(int_str)

50

In [126]:
int("20")

20

The type conversion (casting) does need to make sense.  Python knows how to convert a string "20" to an integer, but not "twenty"

In [127]:
int("twenty")

ValueError: invalid literal for int() with base 10: 'twenty'

In [128]:
temperature = 98.6

In [129]:
type(temperature)

float

In [130]:
"20"

'20'

Strings are subscriptable, meaning that the position of a character in a string has meaning, whereas the position of an integer in a number doesn't.  In other words, you can get the second letter in "helium" as "e", but you can't get the second digit in an integer 100 as 0.  You can, however, store "100" as a string and make it subscriptable, but then it won't be an integer anymore...

In [131]:
element = "helium"

In [132]:
value = 100

In [133]:
element[0]

'h'

In [134]:
value[0]

TypeError: 'int' object is not subscriptable

Slicing, index retrieval, and length of strings

In [135]:
print(element[3:6])

ium

In [136]:
print(element[5])

m

In [137]:
len(element)

6

In [138]:
print(element[3:len(element)])

ium

A variable can have any name, with some restrictions (you can't begin with a number, for instance).  Also, just because you can doesn't mean you should, though!  Try to keep compact but meaningful variable names.

In [139]:
xya123fr = "hello"

In [140]:
print(xya123fr)

hello

Careful with variable names - Python is flexible and will allow you to reassign a function name to a variable.  For instance, you can assign the word print a value, as a variable, but then you'll lose the print method!

In [141]:
print = "this value"

In [142]:
print

'this value'

In [143]:
print(10)

TypeError: 'str' object is not callable

In [144]:
whos

Variable         Type     Data/Info
-----------------------------------
a                int      2
age              int      40
b                int      1
c                int      1
element          str      helium
i                int      4
int_str          str      10
mass             float    1.71
masses           list     n=5
max_val          float    0.277
name             str      Ahmed
new_age          int      50
p                float    0.276
pressure_range   float    0.0040000000000000036
pressures        list     n=5
pressures_1      float    0.273
pressures_2      float    0.275
print            str      this value
temperature      float    98.6
value            int      100
xya123fr         str      hello
years_passed     int      10

to get it back, delete the variable.  the print keyword will resume working as before.

In [145]:
del print

In [146]:
print("hello")

hello

In [147]:
a = 1
b = 2
print(a)
print(b)

1
2

**Exercise**

swap the values of a and b
so that b = 1 and a = 2
hint (create a third variable)

In [148]:
c = a
a = b
b = c

In [149]:
print(a, b)

2 1

The modulo operator does division and returns the remainder - this will be useful later, in loops.

In [150]:
5 % 3

2

Built-in functions

In [151]:
max(a, b)

2

In [152]:
min(a, b)

1

In [153]:
a + b

3

Some shorthand methods also have formal methods - here are two different ways to take 2^3

In [154]:
2 ** 3

8

In [155]:
pow(2, 3)

8

In [156]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [157]:
min('A','a')

'A'

In [158]:
min('a', 'b')

'a'

In [159]:
max('a','b')

'b'

In [160]:
max(10, 9)

10

In [161]:
max('10','9')

'9'

In [162]:
round(3.712, 2)

3.71

In [163]:
# **this is a comment**

In [164]:
round(12345678.89123, -2)

12345700.0

**Lists**

We previously discussed single variable values, now let's look at how to store multiple values.  Rather than creating a bunch of variables for each pressure reading, we can use a list to store them

In [165]:
pressures_1 = 0.273
pressures_2 = 0.275

In [166]:
pressures = [.273, .275, .277, .275, .276]

In [167]:
print(pressures)

[0.273, 0.275, 0.277, 0.275, 0.276]

Python will allow you to mix different variable types in a list, this is flexible and useful, but don't assume everythign in a list is the same data type!

In [168]:
values = [1, "2", 3, "4"]

In [169]:
pressures[0]

0.273

In [170]:
pressures[1]

0.275

In [171]:
len(pressures)

5

In [172]:
pressures

[0.273, 0.275, 0.277, 0.275, 0.276]

Indexing in python and most programming languages starts at zero!

In [173]:
pressures[2] = 3.01

In [174]:
pressures

[0.273, 0.275, 3.01, 0.275, 0.276]

In [175]:
name = "Ahmed"

In [176]:
name[2]

'm'

It can seem like strings and lists are identical, but there are some key differences.  Strings are immutable, meaning they can't be edited.  You need to reassign them, as you do with integers or floats (there are some techniques to do this, but it involves converting the string to a list of characters, replacing a character, and converting it back to a string)...

In [177]:
name[2] = "s"

TypeError: 'str' object does not support item assignment

In [178]:
pressures

[0.273, 0.275, 3.01, 0.275, 0.276]

**Loops**

Now that you have long lists, you'll need a way to traverse them and access their values.  There are two main ways to do this.  

An enumerator walks across the list and provides the value at each position

Alternatively, you can use an integer for an index and acces the value at the index through the [ ] operator

In [179]:
for p in pressures:
    p = p * 2
    print(p)

0.546
0.55
6.02
0.55
0.552

the range method will count from the start point to the end point, but because indexing starts at zero, the range method is inclusive of the starting point and exclusive of the endint point.  For example, range(0,5) will result in 0, 1, 2, 3, 4.

In [180]:
for i in range(0,len(pressures)):
    print(pressures[i])

0.273
0.275
3.01
0.275
0.276

In [181]:
primes = [2, 3, 5, 7, 11, 13]

In [182]:
# print each value in two different ways
# for p in primes
# for i in range(0, len(primes))

In [183]:
# remember the modulo operator?
print(0 % 2)
print(1 % 2)
print(2 % 2)
# keep it in mind, this is how we'll print every other item in the list
# but that will require conditionals

0
1
0

### conditionals

In [184]:
mass = 2.99
if mass > 3.0:
    print(mass, 'is large')

In [185]:
mass = 3.01
if mass > 3.0:
    print(mass, 'is large')
else:
    print(mass, 'is small')

3.01 is large

elif (else if) allows you to pick one of a series of conditionals, in order.  If a condition meets multiple conditions, only the first condition that matches will execute

In [186]:
mass = 9.01
if mass > 9.0:
    print(mass, 'is large')
elif mass > 3.0:
    print(mass, 'is medium')
else:
    print(mass, 'is small')

9.01 is large

Note - this is different from a series of if/else statements.  The conditionals below appear to be similiar to the ones above, but notice that we have created a new if statement, rather than an elif.  As a result, two conditionals will apply here.

In [187]:
mass = 9.01
if mass > 9.0:
    print(mass, 'is large')
if mass > 3.0:
    print(mass, 'is medium')
else:
    print(mass, 'is small')

9.01 is large
9.01 is medium

loops and conditionals are often combined to pick relevant information out of a list...

In [188]:
pressures

[0.273, 0.275, 3.01, 0.275, 0.276]

In [189]:
masses = [3.54, 2.07, 9.22, 1.86, 1.71]

In [190]:
masses

[3.54, 2.07, 9.22, 1.86, 1.71]

In [191]:
for mass in masses:
    if mass > 9.0:
        print(mass, 'is large')
    elif mass > 3.0:
        print(mass, 'is medium')
    else:
        print(mass, 'is small')

3.54 is medium
2.07 is small
9.22 is large
1.86 is small
1.71 is small

Note that you can nest a loop inside of another loop.  This will be useful for processing lists of lists (coming up next).

In [192]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [206]:
pressures

[0.273, 0.275, 3.01, 0.275, 0.276]

In [207]:
min(0, 1)

0

In [208]:
min(pressures)

0.273

In [209]:
max(pressures)

3.01

In [210]:
pressure_range = max(pressures) - min(pressures)

In [211]:
print(pressure_range)

2.7369999999999997

In [212]:
max_val = 0
for p in pressures:
    if p > max_val:
        max_val = p

In [213]:
print(max_val)

3.01

In [214]:
pressures

[0.273, 0.275, 3.01, 0.275, 0.276]

In [215]:
sum(pressures)

4.109

In [216]:
# write a method for total sum to equal the sum 
# of all elements in the array
total_sum = 0
for p in pressures:
    #total_sum = total_sum + p
    total_sum += p
print(total_sum)

4.109